header {
  background-image: url("../Image/wellington.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 26px;
}

html, body{
  height: 100%;
}

body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.exsampleTexts{
  color: rgb(247, 153, 2);
}

.button {
	font-size: 20px;
	font-weight: 200;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 50%;
	color: white;
	background: black;
	padding: 10px;
	margin: 10px;
  transition-duration: 0.1s;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2), 0 1px 10px 0 rgba(0,0,0,0.19);
}

.button:hover{
  background-color: blue;
  box-shadow: 0 2px 6px 0 rgba(63, 2, 247, 0.2), 0 1px 10px 0 rgba(12, 60, 233, 0.19);
}



.bodyTest{  
  display: grid;
  grid-template-areas: 
    "header header header"
    "main main2 main3"
    "main4 main5 main6"
    "main7 main8 main9"
    "main10 main11 main12"
    "main13 main14 main15"
    "main16 main17 main18"
    "footer footer footer";
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url('../Image/conrad-ziebland-agE97zp_Xvo-unsplash.jpeg');
  background-attachment: fixed;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.BlogMain2{
  display: grid;
  margin-top: 5px;
  margin-bottom: 5px;
}

.BlogMain{
  grid-area: main;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(7, 166, 36);
  margin: 5px;
}

.BlogMainC02{
  grid-area: main2;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(101, 22, 242);
  margin: 5px;
}
.BlogMainC03{
  grid-area: main3;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(7, 166, 36);
  margin: 5px;
}

.BlogMainC04{
  grid-area: main4;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(101, 22, 242);
  margin: 5px;
}
.BlogMainC05{
  grid-area: main5;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(7, 166, 36);
  margin: 5px;
}
.BlogMainC06{
  grid-area: main6;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(101, 22, 242);
  margin: 5px;
}
.BlogMainC07{
  grid-area: main7;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(7, 166, 36);
  margin: 5px;
}
.BlogMainC08{
  grid-area: main8;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(101, 22, 242);
  margin: 5px;
}
.BlogMainC09{
  grid-area: main9;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(7, 166, 36);
  margin: 5px;
}
.BlogMainC10{
  grid-area: main10;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(101, 22, 242);
  margin: 5px;
}
.BlogMainC11{
  grid-area: main11;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(7, 166, 36);
  margin: 5px;
}

.BlogMainC12{
  grid-area: main12;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(101, 22, 242);
  margin: 5px;
}
.BlogMainC13{
  grid-area: main13;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(7, 166, 36);
  margin: 5px;
}
.BlogMainC14{
  grid-area: main14;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(101, 22, 242);
  margin: 5px;
}
.BlogMainC15{
  grid-area: main15;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(7, 166, 36);
  margin: 5px;
}

.BlogMainC16{
  grid-area: main16;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(101, 22, 242);
  margin: 5px;
}
.BlogMainC17{
  grid-area: main17;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(7, 166, 36);
  margin: 5px;
}

.BlogMainC18{
  grid-area: main18;
  border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: rgb(101, 22, 242);
  margin: 5px;
}


h1 {
  font-size: 26px;
  color: rgb(255, 255, 255);
  margin: 10px;
}

.IndexH1 {
  font-size: 26px;
  color: rgb(0, 0, 0);
  margin: 10px;
}

.blogHead{
  font-size: 20px;
  margin: 0px 
}
p {
  font-size: 12px;
  color: rgb(0, 0, 0);
  margin: 0px;
}

.IndexP{
  font-size: 12px;
  color: rgb(0, 0, 0);
  margin: 0px;
}

.BlogContent{
  color: rgb(247, 241, 241);
  font-size: 16px;
  margin: 5px;
  padding: 5px;
}

.imgClass{
  width: 400px;
}

.imgClassArray{ 
  display: grid;
  width: 600px;
  margin: 5px;
}

.imgClassObject{
  display: grid;
  width: 200px;
  margin: 5px;
}

.colorLink{
  color: white;
}

.NavDiv2{
  display: grid;
  float: right;
  color: white;
  margin-top: 20px;
}

nav{
  float: right;
  margin-top: 20px;
  padding-right: 10px;
}

.Navtest{
  float: right;
  border: 0px;
  margin-top: 10px;
  margin-right: 0px;
  padding-right: 4px;
}

nav ul{
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.blogH2{
  color: white;
  font-size: 16px;
  margin: 5px;
  margin-top: 10px;
}

nav li{
  font-size: 16px;
  display: inline-block;
  padding-right: 5px;
}

.headbox {
  background-color: white;
  width: 400px;
  padding: 10px;
  margin: 0px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Content {
  background-color: rgb(174, 174, 174);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.DivRow { 
  margin: 10px;
  margin-top: 10px;
  width: 100%;
}

.headerHtml-Css{
  display: grid;
  background-color: rgb(32, 121, 121);
  height: 150px;
}

.headerHtml-Me{
  background-image: url("../Image/Header.png");
  background-size: cover;
  
  grid-template-columns: 1fr 1fr;
  grid-area: header;
  display: grid;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.TitleCrad2{
  font-size: 46px;
  color: white;
  float: left;
  margin-top: 20px;
  text-shadow: 1px 1px 3px #888;

}

.TitleCrad{
  font-size: 36px;
  float: left;
  margin-top: 40px;
}

.footerIndex{
  grid-area: footer;
  background-color: rgb(255, 254, 253);
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.DisclamerTextsIndexs{
  text-align: center;
  background-color: white;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}


@media screen and (max-width:600px) {
  header{
    height: 50vh;
  }
  h1{
    font-size: 16px;
  }
  .headbox{
    width: 50%;
  }
  .headerHtml-Me{
    width: 50%;
  }
  #Content{
    flex-direction: column;
  }
  .blogPost{
    font-size: 8px;
  }
  .TitleCrad2{
    color: #888;
  }
}

@media screen and (max-width:768px) {
  header{
    height: 75%
  }
  .TitleCrad2{
    color: rgb(220, 220, 220);
  }

  }

  @media screen and (max-width:1200px) {
    header{
      height: 100%
    }
  }